
.select {
    margin: 30px auto;
    text-align: center;
    

    .select__label {
        color: #000;
        margin-right: 5px;
    }
    
    .select__options {
        width: 180px;
        height: 30px;
        border-radius: 2px;
        background-color: transparent;
        color: #000;

    }
}

.gallery {
    width: 90vw;
    min-height: 80vh;
    margin: 30px auto 30px;
    border-radius: 20px;
    background-color: #75d3;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(5px, 250px);

    img {
        text-align: center;
        margin: 20px;
        border: 10px solid #75d3;
        border-radius: 8pxpx;
        object-fit: cover;
        width: 80%;
        height: 80%;
            
    }
}

.overlay {
    
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    visibility: hidden;

    transition: opacity .3s ease, visibility .3s ease transform .5s ease-in-out; 
    transform: scale(0);
    opacity: 0;
    overflow: hidden;
    z-index: 9;
}

.overlay.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.overlay img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0;
    margin: 0 auto;
}

.overlay.open svg {
    right: 10px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    cursor: pointer;


}